@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
:root {
  --primary: #151c40;
  --secondary: #0f3876;
  --third: #eca800;
  --white: #ffffff;
  --Shadow1: rgba(0, 0, 0, 0.06);
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.container {
  margin: 0 auto;
  padding: 0 1rem;
}
body {
  background-color: var(--primary);
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  .container {
    width: 1280px;
  }
}
