header {
  box-shadow: 0 5px 15px var(--Shadow1);
  z-index: 999;
  position: sticky;
  top: 0;
  background-color: var(--secondary);
}
header .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
 }
header .logo a {
  font-size: 24px;
  color: var(--white);
}

/* header .container .navbar a {
  color: var(--white);
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
  transition: all 0.5s ease;
}
header .container .navbar a:hover,
header .bars-icon i:hover {
  color: var(--third);
}
header .container .navbar li {
  display: inline-block;
  padding-right: 1rem;
} */
header .bars-icon i {
  color: var(--white);
  font-size: 24px;
  transition: all 0.5s ease;
}

header .bars-icon {
  /* display: none; */
}

/* Start workout section */
.workout {
  text-align: center;
}
.workout .title {
  color: var(--white);
}
.workout img {
  width: 250px;
}
/* Ent workout section */
